<%= link_to 'New Post', new_post_path(@user), class: "new-post" %>
<% @users.each do |user| %>
  <div class="user">
    <img src="<%=user.photo%>" class="profile-pic"/>
    <div class="user-info">
      <h2><%= link_to user.name, user %></h2>
      <p>Number of posts: <%= user.postCount %></p>
    </div>
  </div>
<% end %>