<div class="user">
    <img src="<%=user.photo%>" class="profile-pic"/>
    <div class="user-info">
      <h2 class="text-4xl"><%= link_to user.name, user %></h2>
      <p>Number of posts: <%= user.postCount %></p>
    </div>
  </div>
